<template name="Addition">
  <h2>Addition</h2>
  <div class="l-code">
    <code>/**</code>
    <code class="indent-1">* @param {Number} argA [{{minValue}},{{maxValue}}]<input type="range" min="{{minValue}}" max="{{maxValue}}" value="{{argA}}" id="argA"> {{argA}}</code>
    <code class="indent-1">* @param {Number} argB [{{minValue}},{{maxValue}}]<input type="range" min="{{minValue}}" max="{{maxValue}}" value="{{argB}}" id="argB"> {{argB}}</code>
    <code class="indent-1">*/</code>
    <code>function sum(argA, argB) {</code>
    <code class="indent-2">return argA + argB; // @return {argA, argB} <span class="output">returns {{return}}</span></code>
    <code>};</code>
    <svg class="calls"></svg>
    <span class="calls-label">Execution</span>
  </div>
</template>
