<template name="Multiplication">
  <h2>Multiplication</h2>
  <code>/**</code>
  <code class="indent-1">* @param {Number} argA [{{minValue}},{{maxValue}}]<input type="range" min="{{minValue}}" max="{{maxValue}}" value="{{argA}}" id="argA"> {{argA}}</code>
  <code class="indent-1">* @param {Number} argB [{{minValue}},{{maxValue}}]<input type="range" min="{{minValue}}" max="{{maxValue}}" value="{{argB}}" id="argB"> {{argB}}</code>
  <code class="indent-1">* @param {Number} argC [{{minValue}},{{maxValue}}]<input type="range" min="{{minValue}}" max="{{maxValue}}" value="{{argC}}" id="argC"> {{argC}}</code>
  <code class="indent-1">*/</code>
  <code>function multiply(argA, argB, argC) {</code>
  <code class="indent-2">return argA * argB * argC; // @return {argA, argB, argC}<span class="output">returns {{return}}</span></code>
  <code>};</code>
</template>
