/* CSS declarations go here */

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  background-color: white;
  color: black;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/* Layout ................................................................... */

.l-nav {
  width: 200px;
  height: 100%;
  background-color: #30475C;
  border-right: 1px solid black;
  color: white;
  float: left;
}

.l-main {
  width: 100%;
  height: 100%;
  padding: 20px 20px 20px 220px;
}

.l-main > h2:first-child {
  margin-top: 0;
}

.l-code {
  position: relative;
}

/* Logo ..................................................................... */

h1.logo {
  margin: 0;
}

h1.logo > a {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  color: white;
}

h1.logo > a:visited {
  color: white;
}

h1.logo > a:hover {
  background-color: #EC5E5D;
}

/* Navigation ............................................................... */

ul.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.nav > li {
  border-top: 1px solid white;
}

ul.nav > li > a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
}

ul.nav > li > a:visited {
  background-color: white;
}

ul.nav > li > a:hover {
  background-color: #EC5E5D;
}

/* Code ..................................................................... */

code {
  display: block;
  padding: 0 10px;
  line-height: 20px;
}

code:nth-child(even) {
  background-color: #F7F7F7;
}

code.indent-1 {
  text-indent: 8px;
}

code.indent-2 {
  text-indent: 16px;
}

code.indent-3 {
  text-indent: 24px;
}

code.indent-4 {
  text-indent: 32px;
}

code.is-highlighted {
  background-color: #FFFF99;
}

code > input[type=range] {
  margin-left: 10px;
  vertical-align: text-top;
}

code > span.output {
  color: #EC5E5D;
  vertical-align: middle;
  float: right;
}

svg.calls {
  position: absolute;
  top: 0;
  left: 600px;
}

svg.calls circle {
  fill: #30475C;
}
