<template name="General">
    <h1>Survey</h1>
    <form>
        <!-- Ask general questions about their comfort with reading and understanding code. -->
        <fieldset>
            <h2>Programming (1/3)</h2>
            <div class="question">
                <label><span class="q">Question:</span> How would you describe your programming skills?</label>
                <label for="skill-none"><input name="skill" id="skill-none" type="radio" value="none">None</label>
                <label for="skill-little"><input name="skill" id="skill-little" type="radio" value="little">Little</label>
                <label for="skill-weak"><input name="skill" id="skill-weak" type="radio" value="weak">Weak</label>
                <label for="skill-some"><input name="skill" id="skill-some" type="radio" value="some">Some</label>
                <label for="skill-strong"><input name="skill" id="skill-strong" type="radio" value="strong">Strong</label>
            </div>
            <div class="question">
                <label><span class="q">Question:</span> How would you describe your programming skills in JavaScript?</label>
                <label for="skill-js-none"><input name="skill-js" id="skill-js-none" type="radio" value="none">None</label>
                <label for="skill-js-little"><input name="skill-js" id="skill-js-little" type="radio" value="little">Little</label>
                <label for="skill-js-weak"><input name="skill-js" id="skill-js-weak" type="radio" value="weak">Weak</label>
                <label for="skill-js-some"><input name="skill-js" id="skill-js-some" type="radio" value="some">Some</label>
                <label for="skill-js-strong"><input name="skill-js" id="skill-js-strong" type="radio" value="strong">Strong</label>
            </div>
            <div class="question">
                <label><span class="q">Question:</span> Code is cryptic and hard to read and understand.</label>
                <label for="cryptic-strong-disagree"><input name="cryptic" id="cryptic-strong-disagree" type="radio" value="strong-disagree">Strong disagree</label>
                <label for="cryptic-disagree"><input name="cryptic" id="cryptic-disagree" type="radio" value="disagree">Disagree</label>
                <label for="cryptic-neither"><input name="cryptic" id="cryptic-neither" type="radio" value="neither">Neither</label>
                <label for="cryptic-agree"><input name="cryptic" id="cryptic-agree" type="radio" value="agree">Agree</label>
                <label for="cryptic-strong-agree"><input name="cryptic" id="cryptic-strong-agree" type="radio" value="strong-agree">Strong agree</label>
            </div>
            <div class="question" id="reason">
                <label><span class="q">Question:</span> Pick reasons that makes code hard to read and/or understand. <i>(Mulitple answers are possible)</i></label>
                <label for="reason-abstraction"><input name="reason" id="reason-abstraction" type="checkbox" value="true">Abstraction</label>
                <label for="reason-calculation"><input name="reason" id="reason-calculation" type="checkbox" value="true">Calculation</label>
                <label for="reason-loc"><input name="reason" id="reason-loc" type="checkbox" value="true">Amount of lines of code</label>
                <label for="reason-alphanumeric"><input name="reason" id="reason-alphanumeric" type="checkbox" value="true">Alphanumeric notation</label>
                <label for="reason-overload"><input name="reason" id="reason-overload" type="checkbox" value="true">Information overload</label>
                <label for="reason-shortage"><input name="reason" id="reason-shortage" type="checkbox" value="true">Information shortage</label>
                <label for="reason-other"><input name="reason-other" id="reason-other" type="text" placeholder="Type in other reasons (optional)"></label>
                <label for="reason-none"><input name="reason" id="reason-none" type="checkbox" value="true">Code is not hard to read and/or understand <i>(This unchecks the other answers to this question)</i></label>
            </div>
            <div class="question">
                <label><span class="q">Question:</span> Especially legacy code is hard to read and understand.</label>
                <label for="other-code-strong-disagree"><input name="other-code" id="other-code-strong-disagree" type="radio" value="strong-disagree">Strong disagree</label>
                <label for="other-code-disagree"><input name="other-code" id="other-code-disagree" type="radio" value="disagree">Disagree</label>
                <label for="other-code-neither"><input name="other-code" id="other-code-neither" type="radio" value="neither">Neither</label>
                <label for="other-code-agree"><input name="other-code" id="other-code-agree" type="radio" value="agree">Agree</label>
                <label for="other-code-strong-agree"><input name="other-code" id="other-code-strong-agree" type="radio" value="strong-agree">Strong agree</label>
            </div>
            <div class="question">
                <label><span class="q">Question:</span> I spent too much time during programming trying to understand legacy code.</label>
                <label for="time-spent-strong-disagree"><input name="time-spent" id="time-spent-strong-disagree" type="radio" value="strong-disagree">Strong disagree</label>
                <label for="time-spent-disagree"><input name="time-spent" id="time-spent-disagree" type="radio" value="disagree">Disagree</label>
                <label for="time-spent-neither"><input name="time-spent" id="time-spent-neither" type="radio" value="neither">Neither</label>
                <label for="time-spent-agree"><input name="time-spent" id="time-spent-agree" type="radio" value="agree">Agree</label>
                <label for="time-spent-strong-agree"><input name="time-spent" id="time-spent-strong-agree" type="radio" value="strong-agree">Strong agree</label>
            </div>
            <div class="question">
                <label><span class="q">Question:</span> Do you consider programming a rote skill (i.e. learned through repetition) or a way of thinking?</label>
                <label for="programming-rote-skill"><input name="programming" id="programming-rote-skill" type="radio" value="rote-skill">Rote skill</label>
                <label for="programming-thinking"><input name="programming" id="programming-thinking" type="radio" value="thinking">Way of thinking</label>
                <label for="programming-none"><input name="programming" id="programming-none" type="radio" value="none">Neither</label>
            </div>
        </fieldset>
        <!-- Find out what a programmer thinks about code documentation. -->
        <fieldset>
            <h2>Documentation (2/3)</h2>
            <div class="question">
                <label><span class="q">Question:</span> Code documentation is important.</label>
                <label for="code-documentation-strong-disagree"><input name="code-documentation" id="code-documentation-strong-disagree" type="radio" value="strong-disagree">Strong disagree</label>
                <label for="code-documentation-disagree"><input name="code-documentation" id="code-documentation-disagree" type="radio" value="disagree">Disagree</label>
                <label for="code-documentation-neither"><input name="code-documentation" id="code-documentation-neither" type="radio" value="neither">Neither</label>
                <label for="code-documentation-agree"><input name="code-documentation" id="code-documentation-agree" type="radio" value="agree">Agree</label>
                <label for="code-documentation-strong-agree"><input name="code-documentation" id="code-documentation-strong-agree" type="radio" value="strong-agree">Strong agree</label>
            </div>
            <div class="question">
                <label><span class="q">Question:</span> Other programmer’s comments inside source code helps to understand what the code doing.</label>
                <label for="annotate-code-doing-strong-disagree"><input name="annotate-code-doing" id="annotate-code-doing-strong-disagree" type="radio" value="strong-disagree">Strong disagree</label>
                <label for="annotate-code-doing-disagree"><input name="annotate-code-doing" id="annotate-code-doing-disagree" type="radio" value="disagree">Disagree</label>
                <label for="annotate-code-doing-neither"><input name="annotate-code-doing" id="annotate-code-doing-neither" type="radio" value="neither">Neither</label>
                <label for="annotate-code-doing-agree"><input name="annotate-code-doing" id="annotate-code-doing-agree" type="radio" value="agree">Agree</label>
                <label for="annotate-code-doing-strong-agree"><input name="annotate-code-doing" id="annotate-code-doing-strong-agree" type="radio" value="strong-agree">Strong agree</label>
            </div>
            <div class="question" id="useful">
                <label><span class="q">Question:</span> What should comments describe in order to be useful to a programmer? <i>(Mulitple answers are possible)</i></label>
                <label for="useful-functionality"><input name="useful" id="useful-functionality" type="checkbox" value="true">Functionality – <i>Describing what the code does</i></label>
                <label for="useful-dependencies"><input name="useful" id="useful-dependencies" type="checkbox" value="true">Dependencies – <i>Describing what the code needs in order to work</i></label>
                <label for="useful-behavior"><input name="useful" id="useful-behavior" type="checkbox" value="true">Behavior – <i>Describing how the code works</i></label>
                <label for="useful-limitations"><input name="useful" id="useful-limitations" type="checkbox" value="true">Limitations – <i>Describing what the code cannot do</i></label>
                <label for="useful-intention"><input name="useful" id="useful-intention" type="checkbox" value="true">Intention - <i>Describing what the code is meant to do</i></label>
                <label for="useful-other"><input name="useful-other" id="useful-other" type="text" placeholder="Type in other (optional)"></label>
                <label for="useful-none"><input name="useful" id="useful-none" type="checkbox" value="true">I don't know <i>(This unchecks the other answers to this question)</i></label>
            </div>
            <div class="question" id="communicate">
                <label><span class="q">Question:</span> What do you think is hard to communicate using just code and comments? <i>(Mulitple answers are possible)</i></label>
                <label for="communicate-functionality"><input name="communicate" id="communicate-functionality" type="checkbox" value="true">Functionality – <i>Describing what the code does</i></label>
                <label for="communicate-dependencies"><input name="communicate" id="communicate-dependencies" type="checkbox" value="true">Dependencies – <i>Describing what the code needs in order to work</i></label>
                <label for="communicate-behavior"><input name="communicate" id="communicate-behavior" type="checkbox" value="true">Behavior – <i>Describing how the code works</i></label>
                <label for="communicate-limitations"><input name="communicate" id="communicate-limitations" type="checkbox" value="true">Limitations – <i>Describing what the code cannot do</i></label>
                <label for="communicate-intention"><input name="communicate" id="communicate-intention" type="checkbox" value="true">Intention - <i>Describing what the code is meant to do</i></label>
                <label for="communicate-other"><input name="communicate-other" id="communicate-other" type="text" placeholder="Type in other (optional)"></label>
                <label for="communicate-none"><input name="communicate" id="communicate-none" type="checkbox" value="true">Code and comments is enough for communicating with other programmers <i>(This unchecks the other answers to this question)</i></label>
            </div>
        </fieldset>
        <!-- Find out what a programmer’s attitude is about knowledge sharing. -->
        <fieldset>
            <h2>Sharing (3/3)</h2>
            <div class="question">
                <label><span class="q">Question:</span> I would share my knowledge about code with any co-worker or other programmers.</label>
                <label for="sharing-strong-disagree"><input name="sharing" id="sharing-strong-disagree" type="radio" value="strong-disagree">Strong disagree</label>
                <label for="sharing-disagree"><input name="sharing" id="sharing-disagree" type="radio" value="disagree">Disagree</label>
                <label for="sharing-neither"><input name="sharing" id="sharing-neither" type="radio" value="neither">Neither</label>
                <label for="sharing-agree"><input name="sharing" id="sharing-agree" type="radio" value="agree">Agree</label>
                <label for="sharing-strong-agree"><input name="sharing" id="sharing-strong-agree" type="radio" value="strong-agree">Strong agree</label>
            </div>
            <div class="question" id="source">
                <label><span class="q">Question:</span> Where do you get useful information about legacy code you have to work on? <i>(Mulitple answers are possible)</i></label>
                <label for="source-annotations"><input name="source" id="source-annotations" type="checkbox" value="true">Annotations, i.e. inline and block comments</label>
                <label for="source-project"><input name="source" id="source-project" type="checkbox" value="true">Project documentations, i.e. generated with JavaDoc or something similar</label>
                <label for="source-official"><input name="source" id="source-official" type="checkbox" value="true">Online documentations, i.e. official frameworks etc.</label>
                <label for="source-online"><input name="source" id="source-online" type="checkbox" value="true">Online communities, i.e. StackOverflow</label>
                <label for="source-in-person"><input name="source" id="source-in-person" type="checkbox" value="true">Ask other programmers in person</label>
                <label for="source-other"><input name="source-other" id="source-other" type="text" placeholder="Type in other sources (optional)">
                <label for="source-none"><input name="source" id="source-none" type="checkbox" value="true">I don’t need documentation, the code itself gives me all the information I need <i>(This unchecks the other answers to this question)</i></label>
                </label>
            </div>
        </fieldset>
        <div class="submission">
            <button type="submit">Finish survey</button>
        </div>
    </form>

</template>
